/* Default / common styling */

/* Reset CSS */
html,body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content {
  font-family: "Avanta Garda";
  font-size: 1em;
  opacity: 1.0;
  background-color: transparent;
  margin-top: 0;
  padding: 0;
  padding-top: 0;
}

.container
{
  height: 100vh;
  width: 100vw;
  touch-action: none; /* Allow dragging on the canvas */
  user-select: none; /* Disable Apple long press context */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.chat-bar-modal
{
    position: absolute;
    display: flex;
    bottom: 5%;
    left: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transform: translateX(-50%)
}

.chat-bar-input
{
    width: 50vw;
    height: 5vh;
}

.chat-bar-submit
{
    width: 5vw;
    height: 5vh;
}

/* Styling for high-res mobile screens */
@media (-webkit-min-device-pixel-ratio: 3) and (min-width: 577px) {
  .content {
    font-size: 2em;
  }
}
